@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Oswald:wght@300&family=Playfair+Display:ital@1&display=swap');

.fancy-text{
    font-size: 40px;
    color: purple;
    font-family: 'Comforter', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}